<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }} - 博客</title>
        {% else %}
        <title>欢迎来到博客</title>
        {% endif %}
</head>
<body>
    <div>博客: 
        <a href = "{{ url_for('index') }}">首页</a>
        <a href = "{{ url_for('login') }}">登录</a>
        
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ur>
            {% for messages in messages %}
                <li>{{ messages }}</li>
            {% endfor %}
        </ur>
        {% endif %}
    {% endwith %}


    {% block content %}

    {% endblock %}
</body>
</html>